<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API-INDEX</title>

    <style>
        td {
          border: solid 1px gray;
          padding: 10px;
          text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <tbody>
            <!-- Tabellenname -->
            <tr>
                <td><b>Tabellenname</b></td>
                <td>Umfrageantwort</td>
                <td>Umfrage</td>
                <td>UmfrageUFrage</td>
                <td>UAntwort</td>
                <td>UFrage</td>
                <td>UFrageUAntwort</td>
                <td>UmfrageBenutzer</td>
                <td>Medien</td>
                <td>Artikel</td>
                <td>ArtikelAutor</td>
                <td>Benutzer</td>
                <td>Template</td>
                <td>TemplateTParameter</td>
                <td>TParameter</td>
                
                <td>SSpiel</td>
                <td>MSpiel</td>
                <td>SSPieler</td>
                <td>MSpieler</td>
                <td>Team</td>
                <td>BenutzerTeam</td>
                
                <td></td>
                
                <td>URL</td>
            </tr>
            <!-- Spalten -->
            <tr>
                <td><b>Spalten</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
                <td></td>
                
                <td></td>
            </tr>
            <!-- new -->
            <tr>
                <td><b>new</b></td>
                <td><input type="checkbox" checked></td>   <!-- Umfrageantwort -->
                <td><input type="checkbox" checked></td>   <!-- Umfrage -->
                <td><input type="checkbox"        ></td>   <!-- UmfrageUFrage -->
                <td><input type="checkbox" checked></td>   <!-- UAntwort -->
                <td><input type="checkbox" checked></td>   <!-- UFrage -->
                <td><input type="checkbox" checked></td>   <!-- UFrageUAntwort -->
                <td><input type="checkbox" checked></td>   <!-- UmfrageBenutzer -->
                <td><input type="checkbox" checked></td>   <!-- Medien -->
                <td><input type="checkbox" checked></td>   <!-- Artikel -->
                <td><input type="checkbox" checked></td>   <!-- ArtikelAutor -->
                <td><input type="checkbox" checked></td>   <!-- Benutzer -->
                <td><input type="checkbox" checked></td>   <!-- Template -->
                <td><input type="checkbox" checked></td>   <!-- TemplateTParameter -->
                <td><input type="checkbox" checked></td>   <!-- TParameter -->
                
                <td><input type="checkbox" checked></td>   <!-- SSpiel -->
                <td><input type="checkbox" checked></td>   <!-- MSpiel -->
                <td><input type="checkbox" checked></td>   <!-- SSPieler -->
                <td><input type="checkbox" checked></td>   <!-- MSpieler -->
                <td><input type="checkbox" checked></td>   <!-- Team -->
                <td><input type="checkbox" checked></td>   <!-- BenutzerTeam -->
                
                <td></td>   <!--  -->
                
                <td><a href="#">/api/VERSION/new/ID</a></td>   <!-- URL -->
            </tr>
            <!-- delete -->
            <tr>
                <td><b>delete</b></td>
                <td><input type="checkbox"        ></td>   <!-- Umfrageantwort -->
                <td><input type="checkbox" checked></td>   <!-- Umfrage -->
                <td><input type="checkbox"        ></td>   <!-- UmfrageUFrage -->
                <td><input type="checkbox" checked></td>   <!-- UAntwort -->
                <td><input type="checkbox" checked></td>   <!-- UFrage -->
                <td><input type="checkbox"        ></td>   <!-- UFrageUAntwort -->
                <td><input type="checkbox"        ></td>   <!-- UmfrageBenutzer -->
                <td><input type="checkbox" checked></td>   <!-- Medien -->
                <td><input type="checkbox" checked></td>   <!-- Artikel -->
                <td><input type="checkbox"        ></td>   <!-- ArtikelAutor -->
                <td><input type="checkbox" checked></td>   <!-- Benutzer -->
                <td><input type="checkbox" checked></td>   <!-- Template -->
                <td><input type="checkbox"        ></td>   <!-- TemplateTParameter -->
                <td><input type="checkbox" checked></td>   <!-- TParameter -->
                
                <td><input type="checkbox" checked></td>   <!-- SSpiel -->
                <td><input type="checkbox" checked></td>   <!-- MSpiel -->
                <td><input type="checkbox" checked></td>   <!-- SSPieler -->
                <td><input type="checkbox" checked></td>   <!-- MSpieler -->
                <td><input type="checkbox" checked></td>   <!-- Team -->
                <td><input type="checkbox" checked></td>   <!-- BenutzerTeam -->
                
                <td></td>   <!--  -->
                
                <td><a href="#">/api/VERSION/delete/ID</a></td>   <!-- URL -->
            </tr>
            <!-- edit -->
            <tr>
                <td><b>edit</b></td>
                <td><input type="checkbox" checked></td>   <!-- Umfrageantwort -->
                <td><input type="checkbox" checked></td>   <!-- Umfrage -->
                <td><input type="checkbox"        ></td>   <!-- UmfrageUFrage -->
                <td><input type="checkbox" checked></td>   <!-- UAntwort -->
                <td><input type="checkbox" checked></td>   <!-- UFrage -->
                <td><input type="checkbox"        ></td>   <!-- UFrageUAntwort -->
                <td><input type="checkbox" checked></td>   <!-- UmfrageBenutzer -->
                <td><input type="checkbox" checked></td>   <!-- Medien -->
                <td><input type="checkbox" checked></td>   <!-- Artikel -->
                <td><input type="checkbox" checked></td>   <!-- ArtikelAutor -->
                <td><input type="checkbox" checked></td>   <!-- Benutzer -->
                <td><input type="checkbox" checked></td>   <!-- Template -->
                <td><input type="checkbox" checked></td>   <!-- TemplateTParameter -->
                <td><input type="checkbox" checked></td>   <!-- TParameter -->
                
                <td><input type="checkbox" checked></td>   <!-- SSpiel -->
                <td><input type="checkbox" checked></td>   <!-- MSpiel -->
                <td><input type="checkbox" checked></td>   <!-- SSPieler -->
                <td><input type="checkbox" checked></td>   <!-- MSpieler -->
                <td><input type="checkbox" checked></td>   <!-- Team -->
                <td><input type="checkbox" checked></td>   <!-- BenutzerTeam -->
                
                <td></td>   <!--  -->
                
                <td><a href="#">/api/VERSION/edit/ID</a></td>   <!-- URL -->
            </tr>
            <!-- get_all -->
            <tr>
                <td><b>get_all</b></td>
                <td><input type="checkbox" checked></td>   <!-- Umfrageantwort -->
                <td><input type="checkbox" checked></td>   <!-- Umfrage -->
                <td><input type="checkbox"        ></td>   <!-- UmfrageUFrage -->
                <td><input type="checkbox" checked></td>   <!-- UAntwort -->
                <td><input type="checkbox" checked></td>   <!-- UFrage -->
                <td><input type="checkbox"        ></td>   <!-- UFrageUAntwort -->
                <td><input type="checkbox" checked></td>   <!-- UmfrageBenutzer -->
                <td><input type="checkbox" checked></td>   <!-- Medien -->
                <td><input type="checkbox" checked></td>   <!-- Artikel -->
                <td><input type="checkbox" checked></td>   <!-- ArtikelAutor -->
                <td><input type="checkbox" checked></td>   <!-- Benutzer -->
                <td><input type="checkbox" checked></td>   <!-- Template -->
                <td><input type="checkbox" checked></td>   <!-- TemplateTParameter -->
                <td><input type="checkbox" checked></td>   <!-- TParameter -->
                
                <td><input type="checkbox" checked></td>   <!-- SSpiel -->
                <td><input type="checkbox" checked></td>   <!-- MSpiel -->
                <td><input type="checkbox" checked></td>   <!-- SSPieler -->
                <td><input type="checkbox" checked></td>   <!-- MSpieler -->
                <td><input type="checkbox" checked></td>   <!-- Team -->
                <td><input type="checkbox" checked></td>   <!-- BenutzerTeam -->
                
                <td></td>   <!--  -->
                
                <td><a href="#">/api/VERSION/get_all/ID</a></td>   <!-- URL -->
            </tr>
            <!-- get (by id) -->
            <tr>
                <td><b>get</b> <em>by id</em></td>
                <td><input type="checkbox"        ></td>   <!-- Umfrageantwort -->
                <td><input type="checkbox" checked></td>   <!-- Umfrage -->
                <td><input type="checkbox"        ></td>   <!-- UmfrageUFrage -->
                <td><input type="checkbox" checked></td>   <!-- UAntwort -->
                <td><input type="checkbox" checked></td>   <!-- UFrage -->
                <td><input type="checkbox"        ></td>   <!-- UFrageUAntwort -->
                <td><input type="checkbox"        ></td>   <!-- UmfrageBenutzer -->
                <td><input type="checkbox" checked></td>   <!-- Medien -->
                <td><input type="checkbox" checked></td>   <!-- Artikel -->
                <td><input type="checkbox"        ></td>   <!-- ArtikelAutor -->
                <td><input type="checkbox" checked></td>   <!-- Benutzer -->
                <td><input type="checkbox" checked></td>   <!-- Template -->
                <td><input type="checkbox"        ></td>   <!-- TemplateTParameter -->
                <td><input type="checkbox" checked></td>   <!-- TParameter -->
                
                <td><input type="checkbox" checked></td>   <!-- SSpiel -->
                <td><input type="checkbox" checked></td>   <!-- MSpiel -->
                <td><input type="checkbox" checked></td>   <!-- SSPieler -->
                <td><input type="checkbox" checked></td>   <!-- MSpieler -->
                <td><input type="checkbox" checked></td>   <!-- Team -->
                <td><input type="checkbox" checked></td>   <!-- BenutzerTeam -->
                
                <td></td>   <!--  -->
                
                <td><a href="#">/api/VERSION/get/ID</a></td>   <!-- URL -->
            </tr>
        </tbody>
    </table>
    <div></div>
    <h3>Umfrage per API erstellen</h3>
    <ol>
        <li>'Umfrage' -> new</li>
        <li>'UmfrageBenutzer' -> new (Ersteller der Umfrage angeben)</li>
        <li>'UFrage' -> new</li>
        <li>'UAntwort' -> new (typ = "Textfeld")</li>
        <li>'UFrageUAntwort' -> new (mit Werten von UFrage + UAntwort)</li>
    </ol>
</body>
<script>
    let list = document.getElementsByTagName("input");
    for (i in list) {
        list[i].addEventListener('click', (event) => {
            event.preventDefault();
        }, false);
    }
</script>
</html>
