<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body class="text-center" style="display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;">
    <main class="form-signin m-auto" style="width: 400px; height: 600px">
		<h1>Eingaben nicht korrekt!</h1>
        <form action="/user/login" method="post">
          <svg class="mb-4" xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="primary" class="bi bi-person-rolodex" viewBox="0 0 16 16">
            <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
            <path d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1H1Zm0 1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0 0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555 0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1V2Z"/>
          </svg>
          <h1 class="h3 mb-3 fw-normal">Login</h1>

          <div class="form-floating">
              <input type="text" name="name" class="form-control mb-3" id="name" placeholder="Name">
              <label for="floatingInput">Name</label>
          </div>
          <div class="form-floating">
            <input name="passwort" type="password" class="form-control mb-3" id="passwort" placeholder="Passwort">
            <label for="floatingPassword">Passwort</label>
          </div>

          <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
          <p class="mt-5 mb-3 text-muted">© 2022 – 2023</p>
        </form>
        <video id="qr-video"></video>
        <script src="/static/js/libs/qr-scanner/qr-scanner.umd.min.js"></script>
        <script>
			const videoElem = document.getElementById("qr-video");
			
			var facingMode = "user"; // Can be 'user' or 'environment' to access back or front camera (NEAT!)
			var constraints = {
			  audio: false,
			  video: {
			   facingMode: facingMode
			  }
			};
			navigator.mediaDevices.getUserMedia(constraints).then(function success(stream) {
			  videoElem.srcObject = stream;
			});
			
			/*const qrScanner = new QrScanner(
				videoElem,
				result => console.log('decoded qr code:', result),
				// No options provided. This will use the old api and is deprecated in the current version until next major version.
			);*/
		</script>
    </main>
    <script src="/static/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
