function api_del(form) {
    let apikey = "{{ del_api_key }}";
    let data = new FormData(form);
    const request = new XMLHttpRequest();
    request.open(form.method, form.action);
    request.setRequestHeader("x-api-key", apikey);
    request.send(data);
}