<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDLE</title>
    <style>
        :root {
            --text: #005594;
            --color: white;
        }
        .sliding {
            position: fixed;
            height: 33%;
            left:-20%;
            top: 60%;
            transform: translateX(-50%);

        }

        slider {
            width: 100%;
            height: 100%;
            display: block;
            overflow: hidden;
        }
        .flipclock {
            color: var(--color);
        }
        body {
            background-color: var(--text);
            color: var(--color);
            overflow: hidden;
        }
        .confetti {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: none;
        }
        #from {
        display: flex;
            width: 100%;
            text-align: end;
            font-size: 1.5rem;
            white-space: nowrap;
            display: none;
        }
        #wish {
            display: block;
            text-align: center;
            font-size: 3rem;
            line-height: 3rem;
            height: 6.5rem;
            overflow: hidden;
            width: 100%;
            margin: 0;
            position: absolute;
            top: 40%;
            display: none;
        }
    </style>


<link rel="shortcut icon" href="/static/images/favicon.ico"/>
<link rel="stylesheet" href="/static/css/main.css"/>
<link rel="stylesheet" href="/static/css/confetti.css"/>
<!-- https://codepen.io/fionnachan/pen/EvaqOB -->
<link rel="stylesheet" href="/static/js/plugins/flipclock/flipclock.css"/>
</head>
<body>
    <div id="clickListener" style="height: 100%; width: 100%; position: absolute; margin: 0; padding: 0; top:0; left: 0" onclick="end_idle()"></div>
<p id="wish" class="birthday">
    Alles Gute zum Geburstag XXX!
</p>
    <div class="confetti birthday">
        <div class="wrapper">
  <div class="confetti-149"></div>
  <div class="confetti-148"></div>
  <div class="confetti-147"></div>
  <div class="confetti-146"></div>
  <div class="confetti-145"></div>
  <div class="confetti-144"></div>
  <div class="confetti-143"></div>
  <div class="confetti-142"></div>
  <div class="confetti-141"></div>
  <div class="confetti-140"></div>
  <div class="confetti-139"></div>
  <div class="confetti-138"></div>
  <div class="confetti-137"></div>
  <div class="confetti-136"></div>
  <div class="confetti-135"></div>
  <div class="confetti-134"></div>
  <div class="confetti-133"></div>
  <div class="confetti-132"></div>
  <div class="confetti-131"></div>
  <div class="confetti-130"></div>
  <div class="confetti-129"></div>
  <div class="confetti-128"></div>
  <div class="confetti-127"></div>
  <div class="confetti-126"></div>
  <div class="confetti-125"></div>
  <div class="confetti-124"></div>
  <div class="confetti-123"></div>
  <div class="confetti-122"></div>
  <div class="confetti-121"></div>
  <div class="confetti-120"></div>
  <div class="confetti-119"></div>
  <div class="confetti-118"></div>
  <div class="confetti-117"></div>
  <div class="confetti-116"></div>
  <div class="confetti-115"></div>
  <div class="confetti-114"></div>
  <div class="confetti-113"></div>
  <div class="confetti-112"></div>
  <div class="confetti-111"></div>
  <div class="confetti-110"></div>
  <div class="confetti-109"></div>
  <div class="confetti-108"></div>
  <div class="confetti-107"></div>
  <div class="confetti-106"></div>
  <div class="confetti-105"></div>
  <div class="confetti-104"></div>
  <div class="confetti-103"></div>
  <div class="confetti-102"></div>
  <div class="confetti-101"></div>
  <div class="confetti-100"></div>
  <div class="confetti-99"></div>
  <div class="confetti-98"></div>
  <div class="confetti-97"></div>
  <div class="confetti-96"></div>
  <div class="confetti-95"></div>
  <div class="confetti-94"></div>
  <div class="confetti-93"></div>
  <div class="confetti-92"></div>
  <div class="confetti-91"></div>
  <div class="confetti-90"></div>
  <div class="confetti-89"></div>
  <div class="confetti-88"></div>
  <div class="confetti-87"></div>
  <div class="confetti-86"></div>
  <div class="confetti-85"></div>
  <div class="confetti-84"></div>
  <div class="confetti-83"></div>
  <div class="confetti-82"></div>
  <div class="confetti-81"></div>
  <div class="confetti-80"></div>
  <div class="confetti-79"></div>
  <div class="confetti-78"></div>
  <div class="confetti-77"></div>
  <div class="confetti-76"></div>
  <div class="confetti-75"></div>
  <div class="confetti-74"></div>
  <div class="confetti-73"></div>
  <div class="confetti-72"></div>
  <div class="confetti-71"></div>
  <div class="confetti-70"></div>
  <div class="confetti-69"></div>
  <div class="confetti-68"></div>
  <div class="confetti-67"></div>
  <div class="confetti-66"></div>
  <div class="confetti-65"></div>
  <div class="confetti-64"></div>
  <div class="confetti-63"></div>
  <div class="confetti-62"></div>
  <div class="confetti-61"></div>
  <div class="confetti-60"></div>
  <div class="confetti-59"></div>
  <div class="confetti-58"></div>
  <div class="confetti-57"></div>
  <div class="confetti-56"></div>
  <div class="confetti-55"></div>
  <div class="confetti-54"></div>
  <div class="confetti-53"></div>
  <div class="confetti-52"></div>
  <div class="confetti-51"></div>
  <div class="confetti-50"></div>
  <div class="confetti-49"></div>
  <div class="confetti-48"></div>
  <div class="confetti-47"></div>
  <div class="confetti-46"></div>
  <div class="confetti-45"></div>
  <div class="confetti-44"></div>
  <div class="confetti-43"></div>
  <div class="confetti-42"></div>
  <div class="confetti-41"></div>
  <div class="confetti-40"></div>
  <div class="confetti-39"></div>
  <div class="confetti-38"></div>
  <div class="confetti-37"></div>
  <div class="confetti-36"></div>
  <div class="confetti-35"></div>
  <div class="confetti-34"></div>
  <div class="confetti-33"></div>
  <div class="confetti-32"></div>
  <div class="confetti-31"></div>
  <div class="confetti-30"></div>
  <div class="confetti-29"></div>
  <div class="confetti-28"></div>
  <div class="confetti-27"></div>
  <div class="confetti-26"></div>
  <div class="confetti-25"></div>
  <div class="confetti-24"></div>
  <div class="confetti-23"></div>
  <div class="confetti-22"></div>
  <div class="confetti-21"></div>
  <div class="confetti-20"></div>
  <div class="confetti-19"></div>
  <div class="confetti-18"></div>
  <div class="confetti-17"></div>
  <div class="confetti-16"></div>
  <div class="confetti-15"></div>
  <div class="confetti-14"></div>
  <div class="confetti-13"></div>
  <div class="confetti-12"></div>
  <div class="confetti-11"></div>
  <div class="confetti-10"></div>
  <div class="confetti-9"></div>
  <div class="confetti-8"></div>
  <div class="confetti-7"></div>
  <div class="confetti-6"></div>
  <div class="confetti-5"></div>
  <div class="confetti-4"></div>
  <div class="confetti-3"></div>
  <div class="confetti-2"></div>
  <div class="confetti-1"></div>
  <div class="confetti-0"></div>
</div>
    </div>
  <div id="container" style="width: 50%; margin-top: 10%">
    <div class="flipclock">
        <!--<div class="section" data-section="year">year</div>-->
        <!--<div class="section" data-section="month">month</div>
        <div class="section" data-section="day">day</div>-->
        <div class="section" data-section="hour"></div>
        <div class="section" data-section="minute"></div>
        <div class="section" data-section="second"></div><br>
        Pausenende
    </div>
</div>
    <slider>
        <img src="/static/img/blue/Controler.png" alt="Controller" id="controller" class="sliding" onclick="launch_games()">
        <img src="/static/img/blue/Finger.png" alt="Controller" id="finger" class="sliding" onclick="end_idle()">
        <img src="/static/img/blue/Kompass.png" alt="Controller" id="kompass" class="sliding" onclick="launch_navi()">
        <img src="/static/img/blue/News.png" alt="Controller" id="news" class="sliding" onclick="launch_news()">
        <img src="/static/img/blue/Umfrage.png" alt="Controller" id="umfrage" class="sliding" onclick="launch_umfrage()">
    </slider>
    <button onclick="switch_mode()" style="background-color: var(--text); border: solid 1px var(--color); position: absolute; right: 50px; bottom: 50px; color: var(--color); cursor: pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-fill" viewBox="0 0 16 16">
            <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
        </svg>
    </button>
    <!--button onclick="birthday_debug()" style="background-color: var(--text); border: solid 1px var(--color); position: absolute; right: 50px; bottom: 100px; color: var(--color); cursor: pointer">Geburtstag</button-->
</body>
<script src="/static/js/libs/jquery/jquery-1.8.3.min.js"></script>
<!--<script src="js/libs/zepto/zepto.min.js"></script>-->
<script src="/static/js/plugins/flipclock/flipclock.js"></script>
<script>
    let breaks = [

    ]
    console.log(Date());
    // Safari can't parse YYYY MM DD format
    // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/parse
    /*
     * get Date 
     *     get next break
     *     set flipclock
     */
    let now = new Date(Date());
    let flip_date = now;
    flip_date.setMinutes(now.getMinutes() + 15);
    let flip_tmp = flip_date.toLocaleString('en-GB', { timeZone: 'UTC' }).replace(",", "").split("/"); //flip_date.getUTCMonth() + "/" + flip_date.getUTCDay() + "/" + flip_date.getYear() + " " + flip_date.getHours() + ":" + flip_date.getUTCMinutes() + ":" + flip_date.getUTCSeconds();
    let flip_string = flip_tmp[1] + "/" + flip_tmp[0] + "/" + flip_tmp[2];

    console.log(flip_string);

    (function () {
        $('.flipclock').flipclock({
            countdown: flip_string
            // countdown: '10/27/2022 00:06:00'
            //, audio: '/js/plugins/flipclock/click.mp3'
        });
    })();

</script>



<script>
    function end_idle() {
        console.log("END IDLE");
        location.href = "/home";
    }
    function launch_games() {
        location.href = "/features/v1/spiele";
    }
    function launch_navi() {
        location.href = "/features/v1/navi";
    }
    function launch_news() {
        location.href = "/features/v1/news";
    }
    function launch_umfrage() {
        location.href = "/features/v1/umfragen";
    }
var all_icons = [
    document.getElementById("controller"),
    document.getElementById("finger"),
    document.getElementById("kompass"),
    document.getElementById("news"),
    document.getElementById("umfrage")
    ]
var r = document.querySelector(':root');
var width = screen.width;
    var id = null;
  var index = 0;
function myMove() {
  var elem = next();
  var max_pos = width/64;
  var pos = -max_pos;
  var position = 0;
  clearInterval(id);
  id = setInterval(frame, 10);
  function frame() {
    if (pos > (max_pos*1.1)) {
      //clearInterval(id);
      pos = -max_pos
      position = 0;
      elem = next();
    } else {
        //console.log(pos);
        pos += 0.1;
        position += 0.2+((pos*0.1)*(pos*0.1))
        //console.log(position);
      //elem.style.top = pos + 'px';
      //elem.style.left = pos + 'px';
        elem.style.left = position + 'px';
        if (index === 1) {
            elem.style.width = 0.2+((pos*0.1)*(pos*0.1))*10 + 'px';
            elem.style.height = 0.2+((pos*0.1)*(pos*0.1))*10 + 'px';
        }
    }
  }
}
function confetti_on() {
    for (const elem of document.getElementsByClassName("birthday")) {
        elem.style.display = "block";
    }
}
function confetti_off() {
    for (const elem of document.getElementsByClassName("birthday")) {
        elem.style.display = "none";
    }
}
function birthday(f, wish) {
    document.getElementById("wish").textContent = wish;
    //document.getElementById("from").textContent = "von: " + f;
    confetti_on();
}
function next() {
    index++;
    if (index > all_icons.length-1) {
        index = 0;
    }
    return all_icons[index];
}

function switch_mode() {
if (getComputedStyle(r).getPropertyValue('--color') == "white") {
     r.style.setProperty('--color', '#005594');
    r.style.setProperty('--text', 'white');
    for (icon of all_icons) {
        icon.src = icon.src.replace("white", "blue");
    }
} else {
    r.style.setProperty('--text', '#005594');
     r.style.setProperty('--color', 'white');
    for (icon of all_icons) {
        icon.src = icon.src.replace("blue", "white");
    }
}
}
  myMove();
  function birthday_debug() {
    if (document.getElementsByClassName("birthday")[0].style.display != "block") {
        birthday("Max", "Alles Gute zum Geburtstag Jan");
    } else {
        for (elem of document.getElementsByClassName("birthday")) {
            elem.style.display = "none";
        }
    }
    }
</script>
</html>
