<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dokument</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
    <style>
.Bogy-Logo{
max-width: 50px;
height: auto;

}

.navbar{
border-bottom: 5px solid;
border-bottom-color:	rgb(232,232,232);

}

.h2{
color: rgb(96,96,96);
position: relative;
top:5px;
right: -10px;

}

.navbar-brand{
position: relative;
left: 1%

}

.dropdown{
padding-left: 2%;
}

.d-flex{
padding-right: 5%;
}

.slide{
margin-top: 2%;
margin-left: 2.5%;
margin-right: 2.5%;
}

.carousel-item{
height: 670px;

}

.c-img{
height: 100%;
width: 100%;
object-fit: cover;
filter:brightness(0.9);
}

.c-img:hover{
filter:brightness(0.7);
transition: 0.5s;
}

.card-img-top {
padding-top: 5%;
max-height: 150px;
object-fit: contain;
}
.card{
width: 90%;
height: 100%;
}

.row{
padding-top: 2%;
}

h5 {
  color: black;
}
    </style>


<style>
  body {
      text-align: center;
      overflow: hidden;
  }
  table {
      background-color: rgb(12, 82, 189);
      width: 600px;
      height: 600px;
      position:absolute;
      text-align: center;
      position: absolute;
      left: calc(50% - 319px);
  } 
  input#a1 {
     text-decoration: solid;
     text-decoration-color: black;
     width: 200px;
     height: 200px;
     background-color: rgb(12, 82, 189);
     border: none;
     font-size: 160px;
  }
  input#a2 {
      text-decoration: solid;
      text-decoration-color: black;
      width: 200px;
      height: 200px;
      background-color: rgb(12, 82, 189);
      border: none;
      font-size: 160px;
   }
  input#a3 {
      text-decoration: solid;
      text-decoration-color: black;
      width: 200px;
      height: 200px;
      background-color: rgb(12, 82, 189);
      border: none;
      font-size: 160px;
   }
  input#a4 {
      text-decoration: solid;
      text-decoration-color: black;
      width: 200px;
      height: 200px;
      background-color: rgb(12, 82, 189);
      border: none;
      font-size: 160px;
   }
  input#a5 {
      text-decoration: solid;
      text-decoration-color: black;
      width: 200px;
      height: 200px;
      background-color: rgb(12, 82, 189);
      border: none;
      font-size: 160px;
   }
  input#a6 {
      text-decoration: solid;
      text-decoration-color: black;
      width: 200px;
      height: 200px;
      background-color: rgb(12, 82, 189);
      border: none;
      font-size: 160px;
   }
  input#a7 {
      text-decoration: solid;
      text-decoration-color: black;
      width: 200px;
      height: 200px;
      background-color: rgb(12, 82, 189);
      border: none;
      font-size: 160px;
   }
  input#a8 {
      text-decoration: solid;
      text-decoration-color: black;
      width: 200px;
      height: 200px;
      background-color: rgb(12, 82, 189);
      border: none;
      font-size: 160px;
   }
  input#a9 {
      text-decoration: solid;
      text-decoration-color: black;
      width: 200px;
      height: 200px;
      background-color: rgb(12, 82, 189);
      border: none;
      font-size: 160px;
   }
  div#winMessageX {
      visibility: hidden;
      font-size: 30px;
  }
  div#winMessageO {
      visibility: hidden;
      font-size: 30px;
  }
  div#drawMessage {
      visibility: hidden;
      font-size: 30px;
  }
  .back {
      align-self: flex-end;
      height: 100px;
      width: 200px;
      font-size: 30px;
      color:black;
      right: 100px;
      bottom: 60px;
      position:absolute;
  }
  #newgame {
      align-self: flex-start;
      height: 100px;
      width: 200px;
      font-size: 30px;
      color:black;
      left: 100px;
      bottom: 60px;
      position:absolute;
  }
  .f1 {
      border-bottom: solid 6px;
      border-right:solid 6px; ;
  }
  .f2 {
      border-left:solid 6px; 
      border-bottom:solid 6px;
      border-right: solid 6px;
  }
  .f3 {
      border-left: solid 6px;
      border-bottom:solid 6px;
  }
  .f4 {
      border-top: solid 6px;
      border-bottom: solid 6px;
      border-right:solid 6px ;
  }
  .f5 {
      border-top: solid 6px;
      border-bottom: solid 6px;
      border-right:solid 6px ;
      border-left:solid 6px ;
  }
  .f6 {
      border-top: solid 6px;
      border-bottom:solid 6px ;
      border-left: solid 6px;
  }
  .f7 {
      border-top: solid 6px;
      border-right:solid 6px ;
  }
  .f8 {
      border-top:solid 6px ;
      border-left: solid 6px;
      border-right:solid 6px ;
  }
  .f9 {
      border-top: solid 6px;
      border-left: solid 6px;
  }
  div#hilfe {
      position:absolute;
      text-align: center;
      width: 100%
  }
  div#headline {
      font-size: 70px;
  }
</style>
<script>
  // Reload Page
  let reloadPage = () => {
      location.reload();
  }

  // Back Button
  let goBack = () => {
      window.location.href = '/feedback/runde1/idlescreen';
  }

  // Winning Conditions:
  let checkIfWon = () => {
      if (document.getElementById("a1").value === "X" && document.getElementById("a2").value === "X" && document.getElementById("a3").value === "X") {
          document.getElementById('winMessageX').style.visibility= 'visible';
          return true;
      } else if (document.getElementById("a4").value === "X" && document.getElementById("a5").value === "X" && document.getElementById("a6").value === "X") {
          document.getElementById('winMessageX').style.visibility= 'visible';
          return true;
      } else if (document.getElementById("a7").value === "X" && document.getElementById("a8").value === "X" && document.getElementById("a9").value === "X") {
          document.getElementById('winMessageX').style.visibility= 'visible';
          return true;
      } else if (document.getElementById("a1").value === "X" && document.getElementById("a4").value === "X" && document.getElementById("a7").value === "X") {
          document.getElementById('winMessageX').style.visibility= 'visible';
          return true;
      } else if (document.getElementById("a2").value === "X" && document.getElementById("a5").value === "X" && document.getElementById("a8").value === "X") {
          document.getElementById('winMessageX').style.visibility= 'visible';
          return true;
      } else if (document.getElementById("a3").value === "X" && document.getElementById("a6").value === "X" && document.getElementById("a9").value === "X") {
          document.getElementById('winMessageX').style.visibility= 'visible';
          return true;
      } else if (document.getElementById("a1").value === "X" && document.getElementById("a5").value === "X" && document.getElementById("a9").value === "X") {
          document.getElementById('winMessageX').style.visibility= 'visible';
          return true;
      } else if (document.getElementById("a3").value === "X" && document.getElementById("a5").value === "X" && document.getElementById("a7").value === "X") {
          document.getElementById('winMessageX').style.visibility= 'visible';
          return true;
      } else if (document.getElementById("a1").value === "O" && document.getElementById("a2").value === "O" && document.getElementById("a3").value === "O") {
          document.getElementById('winMessageO').style.visibility= 'visible';
          return true;
      } else if (document.getElementById("a4").value === "O" && document.getElementById("a5").value === "O" && document.getElementById("a6").value === "O") {
          document.getElementById('winMessageO').style.visibility= 'visible';
          return true;
      } else if (document.getElementById("a7").value === "O" && document.getElementById("a8").value === "O" && document.getElementById("a9").value === "O") {
          document.getElementById('winMessageO').style.visibility= 'visible';
          return true;
      } else if (document.getElementById("a1").value === "O" && document.getElementById("a4").value === "O" && document.getElementById("a7").value === "O") {
          document.getElementById('winMessageO').style.visibility= 'visible';
          return true;
      } else if (document.getElementById("a2").value === "O" && document.getElementById("a5").value === "O" && document.getElementById("a8").value === "O") {
          document.getElementById('winMessageO').style.visibility= 'visible';
          return true;
      } else if (document.getElementById("a3").value === "O" && document.getElementById("a6").value === "O" && document.getElementById("a9").value === "O") {
          document.getElementById('winMessageO').style.visibility= 'visible';
          return true;
      } else if (document.getElementById("a1").value === "O" && document.getElementById("a5").value === "O" && document.getElementById("a9").value === "O") {
          document.getElementById('winMessageO').style.visibility= 'visible';
          return true;
      } else if (document.getElementById("a3").value === "O" && document.getElementById("a5").value === "O" && document.getElementById("a7").value === "O") {
          document.getElementById('winMessageO').style.visibility= 'visible';
          return true;
      }
  }   

  //set Marker
  let count = 0
  let setSymbol1 = (event) => {
      if (checkIfWon()) {
          event.preventDefault();
          console.log('hello')
          return;
  }
      if (count === 0 || count === 2 || count === 4 || count === 6 || count === 8) {
          if (document.getElementById("a1").value === "") {
              document.getElementById("a1").value = "X";
              count += 1
              checkIfWon()
          }
      } else {
          if (document.getElementById("a1").value === "") {
              document.getElementById("a1").value = "O";
              count += 1
              checkIfWon()
          }
      }
  }
  let setSymbol2 = (event) => {
      if (checkIfWon()) {
          event.preventDefault();
          console.log('hello')
          return;
  }
      if (count === 0 || count === 2 || count === 4 || count === 6 || count === 8) {
          if (document.getElementById("a2").value === "") {
              document.getElementById("a2").value = "X";
              count += 1
              checkIfWon()
          }
      } else {
          if (document.getElementById("a2").value === "") {
              document.getElementById("a2").value = "O";
              count += 1
              checkIfWon()
          }
      }
  }
  let setSymbol3 = (event) => {
      if (checkIfWon()) {
          event.preventDefault();
          console.log('hello')
          return;
  }
      if (count === 0 || count === 2 || count === 4 || count === 6 || count === 8) {
          if (document.getElementById("a3").value === "") {
              document.getElementById("a3").value = "X";
              count += 1
              checkIfWon()
          }
      } else {
          if (document.getElementById("a3").value === "") {
              document.getElementById("a3").value = "O";
              count += 1
              checkIfWon()
          }
      }
  }
  let setSymbol4 = (event) => {
      if (checkIfWon()) {
          event.preventDefault();
          console.log('hello')
          return;
  }
      if (count === 0 || count === 2 || count === 4 || count === 6 || count === 8) {
          if (document.getElementById("a4").value === "") {
              document.getElementById("a4").value = "X";
              count += 1
              checkIfWon()
          }
      } else {
          if (document.getElementById("a4").value === "") {
              document.getElementById("a4").value = "O";
              count += 1
              checkIfWon()
          }
      }
  }
  let setSymbol5 = (event) => {
      if (checkIfWon()) {
          event.preventDefault();
          console.log('hello')
          return;
  }
      if (count === 0 || count === 2 || count === 4 || count === 6 || count === 8) {
          if (document.getElementById("a5").value === "") {
              document.getElementById("a5").value = "X";
              count += 1
              checkIfWon()
          }
      } else {
          if (document.getElementById("a5").value === "") {
              document.getElementById("a5").value = "O";
              count += 1
              checkIfWon()
          }
      }
  }
  let setSymbol6 = (event) => {
      if (checkIfWon()) {
          event.preventDefault();
          console.log('hello')
          return;
  }
      if (count === 0 || count === 2 || count === 4 || count === 6 || count === 8) {
          if (document.getElementById("a6").value === "") {
              document.getElementById("a6").value = "X";
              count += 1
              checkIfWon()
          }
      } else {
          if (document.getElementById("a6").value === "") {
              document.getElementById("a6").value = "O";
              count += 1
              checkIfWon()
          }
      }
  }
  let setSymbol7 = (event) => {
      if (checkIfWon()) {
          event.preventDefault();
          console.log('hello')
          return;
  }
      if (count === 0 || count === 2 || count === 4 || count === 6 || count === 8) {
          if (document.getElementById("a7").value === "") {
              document.getElementById("a7").value = "X";
              count += 1
              checkIfWon()
          }
      } else {
          if (document.getElementById("a7").value === "") {
              document.getElementById("a7").value = "O";
              count += 1
              checkIfWon()
          }
      }
  }
  let setSymbol8 = (event) => {
      if (checkIfWon()) {
          event.preventDefault();
          console.log('hello')
          return;
  }
      if (count === 0 || count === 2 || count === 4 || count === 6 || count === 8) {
          if (document.getElementById("a8").value === "") {
              document.getElementById("a8").value = "X";
              count += 1
              checkIfWon()
          }
      } else {
          if (document.getElementById("a8").value === "") {
              document.getElementById("a8").value = "O";
              count += 1
              checkIfWon()
          }
      }
  }
  let setSymbol9 = (event) => {
      if (checkIfWon()) {
          event.preventDefault();
          console.log('hello')
          return;
  }
      if (count === 0 || count === 2 || count === 4 || count === 6 || count === 8) {
          if (document.getElementById("a9").value === "") {
              document.getElementById("a9").value = "X";
              count += 1
              checkIfWon()
          }
      } else {
          if (document.getElementById("a9").value === "") {
              document.getElementById("a9").value = "O";
              count += 1
              checkIfWon()
          }
      }
  }

  // Draw
  let checkIfDraw = () => {
      if (count === 9 && checkIfWon === false) {
          document.getElementById('drawMessage').style.visibility= 'visible'
      }
  }
</script>
</head>



<body style="overflow: hidden">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    
<header>

  <nav class="navbar navbar-light .bg-white">
    <div class="container-fluid">

      <a class="navbar-brand" href="/feedback/runde1/idlescreen">
        <img src="/static/images/logo.jpg" class="Bogy-Logo" >
        <b class="h2 fw-bolder ">TicTacToe</b>
      </a>

    </div>
  </nav>
</header>

<!--iframe src="/feedback/runde1/games/tictactoe_game" style="height: calc(100vh - 82px); width: 100vw;"  style="background-color: #666666;"></iframe-->

<div>
  <div id="headline">TIC-TAC-TOE</div>
    <div id="winMessageX">Spieler X hat gewonnen</div>
    <div id="winMessageO">Spieler O hat gewonnen</div>
    <div id="drawMessage">Unentschieden</div>
    <div id="hilfe">
    <table id="table">
        <tr id="firstRow">
            <td class="f1">
                <input id="a1" onclick="setSymbol1(event);checkIfDraw() " type="button" value=""></input>
            </td>
            <td class="f2">
                <input id="a2" onclick="setSymbol2(event);checkIfDraw()" type="button" value=""></input>
            </td>
            <td class="f3">
                <input id="a3" onclick="setSymbol3(event);checkIfDraw()" type="button" value=""></input>
            </td>
        </tr>
        <tr id="secondRow">
            <td class="f4">
                <input id="a4" onclick="setSymbol4(event);checkIfDraw()" type="button" value=""></input>
            </td>
            <td class="f5">
                <input id="a5" onclick="setSymbol5(event);checkIfDraw()" type="button" value=""></input>
            </td>
            <td class="f6">
                <input id="a6" onclick="setSymbol6(event);checkIfDraw()" type="button" value=""></input>
            </td>
        </tr>
        <tr id="thirdRow">
            <td class="f7">
                <input id="a7" onclick="setSymbol7(event);checkIfDraw()" type="button" value=""></input>
            </td>
            <td class="f8">
                <input id="a8" onclick="setSymbol8(event);checkIfDraw()" type="button" value=""></input>
            </td>
            <td class="f9">
                <input id="a9" onclick="setSymbol9(event);checkIfDraw()" type="button" value=""></input>
            </td>
        </tr>
    </table>
    </div>
    <div class="return" style="display: none">
        <button class="back" onclick="goBack()">Home Page</button>
    </div>
    <div id="newgamecontainer">
        <button id="newgame" onclick="reloadPage()">Neues Spiel</button>
    </div>
</div>


</body>

</html>
