<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Willkommen Benutzer!</h1>
    <a href="/b/v1/user/artikel">Deine Artikel</a>
    <a href="/b/v1/user/umfrage">Deine Umfragen</a>
    <a href="/b/v1/user/presentation">Deine Präsentationen / Slideshows</a>
    <a href="/b/v1/user/poster">Deine Poster</a>
    <a href="/b/v1/user/mspiel">Dein Teamspielstand</a>
    <a href="/b/v1/user/sspiel">Deine Highscores</a>
</body>
</html>